body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CanvasContainer {
  margin: 0.5rem;
}

.LineFieldContainer {
  margin: auto;
  width: 75%;
}

.LineField {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 5px;

  background-color: rgb(165, 189, 213);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.LineFieldHeader {
  font-size: 1.2rem;
  color: black;
}

.LineFieldPt {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;

  background-color: lightgray;
}

.LineFieldPt label input:first-child {
  margin-right: 0.5rem;
}

.LineFieldPt label input {
  width: 2rem;
}

.AddLineBtn {
  background-color: white;

  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  
}